body{
  background-color: white;
  /* margin: 0rem; */
  /* max-width: 100%; */
  /* overflow-x: hidden; */
}

.myframe{
  /* width: 100%; */
  display: flex;
}

.myframe > .image{
  height: 140vmin;
  z-index: -1;
  /* background-size: auto 100%; */
  /* transform: translate(0%, 0%); */
}

.flexbox-container_frame{
  display: flex;
  overflow: hidden;
  padding-top: 90px;
  position: relative;
}

.flexbox-container_about{
    display: flex;
    flex-wrap: wrap;
}

.right_container_about{
  height: 450px;
  margin-top: 180px;
  width: 400px;
  margin-top: 250px;
  margin-left: 100px;
}

.flexbox-item_1{
  padding-right: 75px;
  z-index: 1;
  background-color: white;
  position: fixed;
  height: 140vmin;
  /* overflow: hidden; */
}